---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for item in collections.all %}
  {%- if item.url and item.url !== "/sitemap.xml" and item.url !== "/robots.txt" %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | dateISO }}</lastmod>
    <changefreq>{% if item.url === "/" %}daily{% elif "/blog/" in item.url %}weekly{% else %}monthly{% endif %}</changefreq>
    <priority>{% if item.url === "/" %}1.0{% elif item.url === "/services/" %}0.9{% elif "/blog/" in item.url %}0.6{% else %}0.8{% endif %}</priority>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>